
.header-div{
    z-index: 1;
    position: fixed;
    background-color: black;
    display: flex;
    top: 0;
    height: 5rem;
    right: 0;
    left: 0;
}
.img-div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.15s;
    
}
.img-div img:hover{
    opacity: 90%;
}
.img-div img{
    cursor: pointer;
    width: 60px;
    border-radius: 200px;
}
.list-div{
    margin-left: -9%;
    flex: 4;
    height: 100%;
}
.list-div ul{
    margin-top: 0px;
    align-items: center;
    height:100%;
    display: flex;
}
.ul-class{
    display: flex;
}
.ul-class span{
    white-space: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
    list-style: none;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s, text-decoration 0.15s;
}
.ul-class span a{
    color: white;
    text-decoration: none;
}
.ul-class span:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(77, 0, 0);
    text-decoration: underline;
}
@media only screen and (max-width:960px) {
    .ul-class span{
        font-size: 14px;
        text-align: center;
    }
    .list-div{
        flex: 4;
    }
    .img-div img{
        cursor: pointer;
        width: 45px;
        border-radius: 200px;
    }
}
